<p id="notice"><%= notice %></p>

<p>
  <strong>Apparel id:</strong>
  <%= @apparel.Apparel_ID %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @apparel.Sex %>
</p>

<p>
  <strong>Article:</strong>
  <%= @apparel.Article %>
</p>

<p>
  <strong>Size:</strong>
  <%= @apparel.Size %>
</p>

<%= link_to 'Edit', edit_apparel_path(@apparel) %> |
<%= link_to 'Back', apparels_path %>
