<%= form_for(@rental) do |f| %>
  <% if @rental.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rental.errors.count, "error") %> prohibited this rental from being saved:</h2>

      <ul>
      <% @rental.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Rental_ID %><br>
    <%= f.text_field :Rental_ID %>
  </div>
  <div class="field">
    <%= f.label :UIN %><br>
    <%= f.text_field :UIN %>
  </div>
  <div class="field">
    <%= f.label :Apparel_ID %><br>
    <%= f.text_field :Apparel_ID %>
  </div>
  <div class="field">
    <%= f.label :Checkout_Date %><br>
    <%= f.datetime_select :Checkout_Date %>
  </div>
  <div class="field">
    <%= f.label :Expected_Return_Date %><br>
    <%= f.datetime_select :Expected_Return_Date %>
  </div>
  <div class="field">
    <%= f.label :Return_Date %><br>
    <%= f.datetime_select :Return_Date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
