<p id="notice"><%= notice %></p>

<h1>Listing Apparels</h1>


<table class="table table-hover">
  <thead class="thead-inverse">
    <tr>
      <th>Apparel ID</th>
      <th>Sex</th>
      <th>Article</th>
      <th>Size</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
     <% @apparels.each do |apparel| %>
      <tr>
        <td><%= apparel.Apparel_ID %></td>
        <td><%= apparel.Sex %></td>
        <td><%= apparel.Article %></td>
        <td><%= apparel.Size %></td>
        <td><%= apparel.Status %></td>
        <td><%= link_to 'Show', apparel %></td>
        <td><%= link_to 'Edit', edit_apparel_path(apparel) %></td>
        <td><%= link_to 'Destroy', apparel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Apparel', new_apparel_path %>
